body {
  margin: 0;
  font-family: Montserrat;
  background: #fafafa;
  height: 900px;
  max-height: 900px;
  max-width: 1920px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #4680C2;
  margin-bottom: 1%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active:hover{
  color: black;
  background-color: #ddd;
}



.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

address{
  float: right;
}

#worktime{
  float: right;
  padding-right: 30%;
}

body article{
  background-color: #fff;
  height: 90%;
  width: 9%;
  margin-right: 1%;
  margin-left: 1%;
  border-radius: 20px;
  float: left;
  padding: 4%;
  /* overflow: hidden;   /*Если текст вылазит за пределы блока, то его не будет видно*/ */
}

#logout{
  float: right;
}

#logout:hover{
  color:red;
}

/* footer{
  margin-top: 1%;
  float: left;
  padding: 4%;
  background-color: lightblue;
  align-self: flex-end;
  width: 99%;
  height: 2%;
  position:absolute; bottom:10px; left:10px;
  border-radius: 20px;
  overflow: hidden;
} */



.information{
  width=100%;
}

.account-img{
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: solid lightblue  1px;
}
