*,
*::before,
*::after {
  box-sizing: border-box;
}

.site-header .navbar-brand{
  font-size: 20px;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  font-size: 15px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

body {
  font-family: Montserrat;
  background: #fafafa;
  margin-top: 0.5rem;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

body article{
  height: auto;
  width: 98%;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 6rem;
  margin-bottom: 2rem;
  background-color: #fff;
  float: left;
  padding: 2%
}

footer{
  width: auto;
  height: auto;
  margin-right: 1%;
  margin-left: 1%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.cont_textfield{
  height: 100px;
}

#nostyle {
    list-style-type: none; /* Убираем маркеры */
   }

a.button12 {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.9;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  user-select: none;
  padding: .3em .7em;
  outline: none;
  border-radius: .25rem;
  background-color: #007bff;
  text-align: center;
  vertical-align: middle;
}

a.button12:hover {
  background-color: #0B6796;
}

a.button12:focus {
  background: #0175b1 repeating-linear-gradient(135deg, #0175b1, #0175b1 5px, #8fd2f5 10px, #8fd2f5 20px, #0175b1 20px) no-repeat;
  background-size: 2000% 100%;
}

a.button12:focus {
  color: rgba(255,255,255,0);
  text-shadow: rgba(1,117,177,0) -1px 1px, rgba(1,117,177,0) 1px 1px, rgba(1,117,177,0) 1px -1px, rgba(1,117,177,0) -1px -1px;
  background-position: 900% 0;
  transition: background-position linear 600s, color .5s, text-shadow .5s;
}

a.button12:after {

  position: absolute;
  top: 0;
  left: 0;
  padding: .3em .7em;
  color: rgba(0,0,0,0);
  text-shadow: none;
  transition: 999999s;
}

a.button12:focus:after {
  content: "Отправка данных\2026";
  color: black;
  text-shadow: #0175b1 -1px 1px, #0175b1 1px 1px, #0175b1 1px -1px, #0175b1 -1px -1px;
  transition: .5s;
  font-size: 1.1rem;
}

.public_offer {
  height: 60em;
}


.calendar table{
  margin: 1em;
}

.vouchers{
  margin-left: 6rem !important;
}

.dates_id{
  font-size: 2em;
}

table{

}
