*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  margin: 0px;
}

nav{
  background-color: lightblue;
  /* height: 30px; */
}

#logout{
  float: right;
}

/* .top_left{
  margin: 0;
  padding: 0;
  float: left;
  width: 199px;
}

.top_right{
  float: left;
  width: 100px;
  padding: 0;
  margin: 0;
} */

#auth_ul {
  padding: 0;
  margin: 0;
  height: 60em;
}

.active_auth{
  border-left: solid lightgrey 1px;
  height: 500px;
  width: 200px;
}

.loginfo{

}
