body {
  margin: 0;
  font-family: Montserrat;
  background: #fafafa;
  max-width: 100%;
  margin-top: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.article-img{
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: solid lightblue  1px;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  font-size: 15px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}


.container{
  padding-top: 50px;
  z-index: 0;
}

.site-header .navbar-brand{
  font-size: 20px;
}

.indeximg:hover {
    transform: scale(1.07);
}

.nohoverimg{
  width: 300px;
  height: 200px;
}

.strenght{
  width:30em;
}

#topp{
  z-index: 1000;
  background-color: red;
}


/* Ширина картинки в посте */
.postimage{
  width: 70%  ;
}


.limitsize{
  width: 70rem;
}

.flushborders{
  border: none !important;
}

main .calendarbutton{
  z-index:1000;
  position: fixed;
  left: 52%;
  top: 2em;
  width: 19em;
}


nav{
  z-index: 1 !important;
}


/* Стилизация календаря выборы дат аренды */
.fromdate{
  font-size: 2em;
  font-family: Montserrat;
  color: green;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
  margin-left: 2em;
  text-align: center;
  border-width: 1px;
  border-color: green;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

/* Стилизация календаря выбора конечной даты аренды в меню поста */
.tofromdate{
  font-size: 2em;
  font-family: Montserrat;
  color: orange;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
  margin-left: 2em;
  text-align: center;
  border-width: 1px;
  border-color: green;
}

.exacttime{
  font-size: 2em;
}

.calenaralign{
  text-align: center;
}


td {
    vertical-align: middle !important;
}


.stretch{
  width: 20em;
}

.bigger{
  font-size: 1.5em;
}

.larger{
  font-size: 2em;
}


.button12 {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.9;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  user-select: none;
  padding: .3em .7em;
  outline: none;
  border-radius: .25rem;
  background-color: #007bff;
  text-align: center;
  vertical-align: middle;
}

.button12:hover {
  background-color: #0B6796;
}

.button12:focus {
  background: #0175b1 repeating-linear-gradient(135deg, #0175b1, #0175b1 5px, #8fd2f5 10px, #8fd2f5 20px, #0175b1 20px) no-repeat;
  background-size: 2000% 100%;
}

.button12:focus {
  color: rgba(255,255,255,0);
  text-shadow: rgba(1,117,177,0) -1px 1px, rgba(1,117,177,0) 1px 1px, rgba(1,117,177,0) 1px -1px, rgba(1,117,177,0) -1px -1px;
  background-position: 900% 0;
  transition: background-position linear 600s, color .5s, text-shadow .5s;
}

.button12:after {
  position: absolute;
  top: 0;
  left: 0;
  padding: .3em .7em;
  color: rgba(0,0,0,0);
  text-shadow: none;
  transition: 999999s;
}

.button12:focus:after {
  color: black;
  text-shadow: #0175b1 -1px 1px, #0175b1 1px 1px, #0175b1 1px -1px, #0175b1 -1px -1px;
  transition: .5s;
  font-size: 1.1rem;
}
