body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #333;
  line-height: 1.6;
  width: auto;
  height: auto;
  background-color: #fafafa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0
}

.greeting{
margin: 100px;
text-align: center;
font-size: 20px;
}

.logo{
  text-align: center;
  color: blue;
  font-family: Righteous;
  font-size: 45px;
  margin: 20px;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

/* .error{
  color: red;
}

input{
  height: 30px;
  text-align: center;
  font-family: Montserrat;
  border: 0px;
  border-bottom: solid #4680C2;
  border-top: 0px;
  outline:none;
  border-width: 2px;
  margin-bottom: 20px;
}

input:hover{
  border-bottom: solid #4680C2;
  border-width: 4px;
  font-weight: bold;
  margin-bottom: 16px
}




#btn{
  border: 0px;
  font-weight: normal;
  cursor: pointer;
  border-radius: 4px;
} */

aside, .leftside{
  float:left;
}

aside{
  margin-left: 25%;
}

footer{
  width: 100%;
  float: left;
  margin-left: 40%;
  color: red;
}
