{% extends "indexlayout.html" %}
{% block content %}
  <div class='content-section'>
    <h1>Я не разрешаю тебе просматривать эту страницу!!!!! (403)</h1>
    <p>Не надо сюда ходить!</p>
  </div>
{% endblock content %}
