{% extends "indexlayoutforpost.html" %}
{% block content %}
  <div class='content-section'>
    <h1>Емое!!! Такой страницы тут нет (</h1>
    <p>Попробуйте что-нибудь другое....</p>
  </div>
{% endblock content %}
