{% extends "indexlayout.html" %}
{% block content %}
  <div class='content-section'>
    <h1>Что-то пошло не так! (500)</h1>
    <p>Данная страница не работает, попробуйте что нибудь другое!</p>
  </div>
{% endblock content %}
