{% extends "base.html" %}

{% block content %}
<h1>Наш сервис позволяет тысячам клиентов</h1>

ежедневно искать и находить

оптимальные предложения по аренде

<mark>автомобилей</mark>
<p id="fofofo">this is a content</p>
<i id="fofofo">This is a second content section</i>
<h1>fdfdfd</h1>
{% endblock content %}
