<!DOCTYPE html>
<html lang = 'ru'>
 <head>
   <meta http-equiv="content-type" content="text/html"; charset="utf-8">
   <title>Защищенный логин</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?
   family=Montserrat:400,900&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="{{ url_for('static', filename='minecss/loginstyle.css') }}">
 </head>
 <body>
   <header class="greeting">
    <h3><b>Добро пожаловать!</b><h3>
    <hr width=10%>
    <a href="/">
     <div class="logo" title="На главную">
       RentAvtoBy
    </a>
    </header>
   <main class="container">
     <div class="col-md-2">

     <div class="content-section">
     <form class='leftside' method="POST" action="">
       {{ form.hidden_tag() }}
       <fieldset class = "form-group">
         <legend class ="border-bottom mb-4">Войти в систему</legend>

         <!--Задать имя для нового партнера:-->
         <div class="form-group">
           {{form.name.label(class="form-control-label")}}
           {% if form.name.errors %}
             {{form.name(class="form-control form-control-lg is-invalid")}}
             <div class="invalid-feedback">
               {% for error in form.name.errors %}
               <h6 class="text-danger"><strong>Допустимая длина от 10 до 20 знаков.</strong></h6>
               {% endfor %}
             </div>
           {% else %}
             {{ form.name(class="form-control form-control-lg") }}
           {% endif %}
         </div>

         <!--Задать пароль для нового партнера:-->
         <div class="form-group">
           {{ form.password.label(class="form-control-label") }}
           {% if form.password.errors %}
             {{ form.password(class="form-control form-control-lg is-invalid") }}
             <div class="invalid-feedback">
               {% for error in form.password.errors %}
               <h6 class="text-danger"><strong>Допустимая длина от 16 знаков.</strong></h6>
               {% endfor %}
             </div>
           {% else %}
             {{form.password(class="form-control form-control-lg")}}
           {% endif %}
         </div>
       <div class="form-check">
          {{ form.remember(class="form-check-input") }}
          {{ form.remember.label(class="form-check-label") }}
        </div>
      </fieldset>
       <div class="form-group">
         {{form.submit(class="btn btn-outline-info")}}
         <small class="text-muted ml-2">
          <a href="{{ url_for('users.reset_request') }}">Восстановить пароль?</a>
        </small>
       </div>
     </form>
     </div>
   </div>
   <aside>
       <a href=/>
       <img title="На главную" alt="Логотип "src="static/images/logoimage.png" width="200" height="auto"></br></br></a>
   </aside>
   </main>
  <footer>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class = "alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
