{% extends "baseadmin.html" %}

{% block content %}
<!-- Информация о профиле -->
<div class="content-section ml-4 col-6">
    <div class="media-body border pl-5">
      <h2 class="account-heading">Вы вошли как: {{ current_user.username }}</h2>
      <p class="text-secondary ml-5">{{ current_user.email }}</p>
    </div>
    <form method="POST" action="" enctype="multipart/form-data">
     {{ form.hidden_tag() }}
     <fieldset class = "form-group mt-4">
     <legend class ="border-bottom mb-4">Изменить Имя/Email</legend>
     <!--Поменять имя:-->
     <div class="form-group">
      {{form.username.label(class="form-control-label")}}
      {% if form.username.errors %}
        {{form.username(class="form-control form-control-lg is-invalid")}}
          <div class="invalid-feedback">
           {% for error in form.username.errors %}
            <span>{{ error }}</span>
           {% endfor %}
          </div>
      {% else %}
        {{ form.username(class="form-control form-control-lg") }}
      {% endif %}
    </div>
     <!--Поменять email:-->
    <div class="form-group">
      {{ form.email.label(class="form-control-label") }}
      {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid") }}
         <div class="invalid-feedback">
           {% for error in form.email.errors %}
             <span>{{ error }}</span>
           {% endfor %}
         </div>
      {% else %}
        {{form.email(class="form-control form-control-lg")}}
      {% endif %}
    </div>
    <!-- Поменять аватар -->
    <div class="form-group">
      {{ form.picture.label() }}
      {{ form.picture(class="form-control-file") }}
      {% if form.picture.errors %}
        {% for error in form.picture.errors %}
          <span class="text-danger">{{ error }}</span></br>
        {% endfor %}
      {% endif %}
    </div>
    </br>
    </fieldset>
    <div class="form-group">
     {{form.submit(class="btn btn-outline-info")}}
    </div>
    </form>
</div>
<hr>
{% endblock %}
