<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?
  family=Montserrat:400,900&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='minecss/basestyle.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='minecss/justinaguilar.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='minecss/indexstyle.css') }}">
    {% if title %}
     <title>{{ title }}</title>
    {% else %}
     <title>RentAvtoBy</title>
    {% endif %}
</head>
  <body>
    <header class="site-header row mt-5 mb-4">
      <nav class="navbar navbar-expand navbar-dark bg-primary fixed-top">
          <a class="navbar-brand mr-5" href="/">RentAvtoBy</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <!-- Левая сторона навигации -->
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('posts.new_post')}}">Добавть объявление</a>
              <a class="nav-item nav-link" href="/user/{{current_user.username}}">Мои объявления</a>
            </div>
            <!-- Правая сторона навигации -->
            {% if current_user.is_authenticated %}
            <div class="navbar-nav text">
              <a class="nav-item nav-link" href="{{ url_for('users.adminlogged')}}">Аккаунт</a>
              <a class="nav-item nav-link btn-outline-danger" href="{{ url_for('users.logout')}}">Выйти из системы</a>
            </div>
            {% endif %}
        </div>
      </nav>
    </header>
    <main>
      <!-- Панель информации -->
      <div class="container-fluid" style="height: 40px; border-bottom: solid lightgrey 1px; text-align:center;">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class = "alert alert-warning alert-dismissible fade show" role="alert-{{ category }}" style="text-align: center; height: 35px;">
                {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        </div>
  <br>
  {% block content %}
  <!-- Содержание находится в файле adminlogged.html -->
  {% endblock %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>$(function () {$('[data-toggle="popover"]').popover()})</script>
    </main>
  </body>
</html>
