<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?
family=Montserrat:400,900&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='minecss/basestyle.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='minecss/justinaguilar.css') }}">
  {% if title %}
   <title>{{ title }}</title>
  {% else %}
   <title>Belavtorent</title>
  {% endif %}
</head>
  <body>
    <header class="site-header mb-6">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
          <a class="navbar-brand mr-5" href="/">RentAvtoBy</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('main.useit')}}">Как пользоваться сайтом?</a>
              <a class="nav-item nav-link" href="{{ url_for('main.about')}}">О компании</a>
              <a class="nav-item nav-link" href="{{ url_for('main.partner')}}">Как стать партнером?</a>
            </div>
            <!-- Правая сторона навигации -->
            {% if current_user.is_authenticated %}
            <div class="navbar-nav text">
              <a class="nav-item nav-link" href="{{ url_for('users.adminlogged')}}">Аккаунт</a>
              <a class="nav-item nav-link btn-outline-danger" href="{{ url_for('users.logout')}}">Выйти из системы</a>
            </div>
            {% endif %}
        </div>
      </nav>
    </header>
  <article class="card">
  {% block content %}
  <!-- Зесь отображается основная инфа
       Текст вносить в файл about.html-->
  {% endblock %}
  </article>
  <footer class="card">
    <div class="row justify-content-between">
      <div class="col ">
        <address>Республика Беларусь. г.Брест</address><br>
      </div>
      <div class="col-6">
        <div id="worktime">По всем вопросам:<br>Пон-ПТ: 9:00 - 18:00<br></div><br>
      </div>
      <div class="col border-left light">
        ИП Климук Василий Владимирович<br> Тел: +375336024442<br> yndac@protonmail.com
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
