{% extends "baseadmin.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row" style="height: 100px;">
    <div class="calendar col-xl-3 mr-4 pr-4">
      {{text|safe}}
    </div>
    <div class="col-6 ml-4 pl-4 vouchers">
      <table class="table overflow-auto ml-4">
        <tbody>
          <tr>
              {% for x in all_dates[::-1] %}
                <div class="dates_id">ID: {{ x.id }}</div>
                Ваучер №: {{ x.voucher }},
                Создан: {{ x.booktime }},
                Цена сутки: {{ x.dayprice }},
                Цена сумма: {{ x.totalprice }},
                Имя: {{ x.client_name }},
                Рождение: {{ x.client_birth }},
                Почта: {{ x.client_email }},
                Телефон: {{ x.client_phone }},<br>
                Начало аренды: {{ x.book_from }},
                Конец аренды: {{ x.book_to }},<br>
                Время выдачи авто: <strong>{{ x.booktimefrom_to }}</strong>
                <br>
                <hr>
                <br>
              {% endfor %}
          </tr>
        </tbody>
      </table>

    </div>

    <div class="col-3">
    </div>
</div>
</div>
{% endblock content %}
