{% extends "indexlayoutforpost.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h4>BelAvtoRent - хороший автомобиль в нужное время</h4>
      <h3 class="mt-4 pt-4"><strong>Бронь номер:  {{ voucherint }} </strong></h3>
    </div>
    <!-- Арендодатель /  Vehicle lessor -->
    <div class="col-sm">
      <table class="table">
        <tr>
          <th scope="col">Арендодатель /  Vehicle lessor:</th>
        </tr>
        <tr>
          <td>{{ post.author.name }} {{ post.author.surname }}</td>
        </tr>
        <tr>
          <td>Беларусь. г. Брест</td>
        </tr>
        <tr>
          <td>{{ post.author.phone }} (Viber, WhatsApp, Telegram)</td>
        </tr>
      </table>
    </div>
    <!-- Автомобиль / Vehicle -->
    <div class="col-sm">
      <table class="table">
        <tr>
          <th scope="col">Автомобиль / Vehicle:</th>
        </tr>
        <tr>
          <td>Модель / Model</td>
          <td>{{ post.car_brand }} {{ post.car_model }} {{ post.car_creation }}</td>
        </tr>
        <tr>
          <td>Двигатель / Engine</td>
          <td>{{ post.car_engine }} л / L</td>
        </tr>
        <tr>
          <td>КПП / Gearbox</td>
          <td>{{ post.car_transmission }}</td>
        </tr>
        <tr>
          <td>Топливо / Fuel</td>
          <td>{{ post.car_fuel }}</td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Клиент / Client -->
  <div class="row">
    <div class="col-sm-6">
      <table class="table ">
        <tr>
          <th scope="col">Клиент / Client</th>
        </tr>
        <tr>
          <td>Имя / Name</td>
          <td>{{ form.client_name.data }}</td>
        </tr>
        <tr>
          <td>Дата рождения / Birthdate</td>
          <td>{{ form.client_birth.data }}</td>
        </tr>
        <tr>
          <td>Почта / Email</td>
          <td>{{ form.client_email.data }}</td>
        </tr>
        <tr>
          <td>Телефон / Phone</td>
          <td>+375{{ form.client_phone.data }}</td>
        </tr>
      </table>
    </div>
    <div class="col-sm-6 border">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" class="bigger">Получение / Pick up</th>
            <th scope="col" class="bigger">Возврат / Drop off</th>
          </tr>
        </thead>
        <tr class="table-success">
          <td>{{ form.datefrom.data }}&emsp;{{ form.exacttime.data.strftime('%H:%M') }}</td>
          <td>{{ form.dateto.data }}&emsp;до&ensp;{{ form.exacttime.data.strftime('%H:%M') }}</td>
        </tr>
      </table>
      <article>Удобное место для приемки вашего автомобиля, согласовывается в любое время с арендодателем по телефону <strong>{{ post.author.phone }}</strong> (Viber, WhatsApp, Telegram). Не забудьте согласовать и место, где вы отдадите арендованный автомобиль назад в конце срока аренды. Все вопросы, связанные с текущей бронью (в том числе получение автомобиля ранее 9:00 часов), решаются также по указанному выше номеру. </article>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" class="bigger">Стоимость за день / Price per day</th>
            <th scope="col" class="bigger">Оплатить при получении авто / Pay on pick up</th>
          </tr>
        </thead>
        <tr>
          <td class="text-center larger"><strong>{{ post.price }}&ensp;BYN</strong></td>
          <td class="text-center larger"><strong>{{ sum_voucher }}&thinsp;BYN</strong></td>
        </tr>
      </table>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
  <div class="row mt-3">
    <article>
      Памятка: При возврате автомобиль должен быть в таком-же техническом состоянии как при получении, с таким-же количеством топлива как при получении, такой-же чистый как при получении. При возврате автомобиля в ненадлежащем виде, с арендатора может взиматься дополнительная оплата. В случае ДТП нужно незамедлительно позвонить по номеру <strong>{{ post.author.phone }}</strong>&ensp;и вызвать ГАИ, в противном случае на арендатора ложатся все расходы связанные с восстановлением автомобиля даже при факте невиновности арендателя в ДТП. В случае невозможности вернуть автомобиль в назначенный срок, нужно незамедлительно уведомить об этом арендодателя во избежание штрафа. В случае невозврата автомобиля в назначенный срок без уведомления об этом арендодателя, арендатор уплачивает арендодателю штраф в размере 25% дневной стоимости аренды за каждый час просрочки.
    </article>
  </div>
</div>

{% endblock content %}
