{% extends "baseadmin.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row border-bottom border-primary">
    <div class="col col-12 col-sm-12 col-lg-6 mr-3 border-right border-primary">
        <form id="createpost" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
            <center>
                <legend class="border-bottom mb-4 bg-warning"><strong>{{ legend }}</strong></legend>
            </center>
                <br>
                <!-- Марка -->
                <div class="row">
                  <div class="col-lg-4">
                      {{ form.car_brand.label(class="form-control-label") }}
                      {% if form.car_brand.errors %}
                          {{ form.car_brand(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.car_brand.errors %}
                                  <!-- <span>{{ error }}</span> -->
                                  <h6 class="text-danger"><strong>Длина должна быть от 3 до 14 знаков.</strong></h6>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.car_brand(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>
                  <!-- Модель -->
                  <div class="col-lg-4">
                      {{ form.car_model.label(class="form-control-label") }}
                      {% if form.car_model.errors %}
                          {{ form.car_model(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.car_model.errors %}
                                  <h6 class="text-danger"><strong>Длина должна быть от 2 до 20 знаков.</strong></h6>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.car_model(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>
                  <div class="col-lg-4">
                    <!-- Цвет кузова -->
                      {{ form.car_color.label(class="form-control-label") }}
                      {% if form.car_color.errors %}
                          {{ form.car_color(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.car_color.errors %}
                                  <h6 class="text-danger"><strong>Длина не более 15 знаков.</strong></h6>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.car_color(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>
              </div>
              <div class="row">
                <!-- Регистрационный номер -->
                <div class="col-lg-6">
                    {{ form.car_plate.label(class="form-control-label") }}
                    {% if form.car_plate.errors %}
                        {{ form.car_plate(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.car_plate.errors %}
                                <h6 class="text-danger"><strong>Длина не более 8 знаков.</strong></h6>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.car_plate(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Год выпуска -->
                <div class="col-lg-6">
                    {{ form.car_creation.label(class="form-control-label") }}
                    {% if form.car_creation.errors %}
                        {{ form.car_creation(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.car_creation.errors %}
                                <h6 class="text-danger"><strong>Некорректный год.</strong></h6>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.car_creation(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
              </div>
              <div class="row">
                <!-- Тип кузова -->
                <div class="col-lg-4">
                    {{ form.car_body.label(class="form-control-label") }}
                    {% if form.car_body.errors %}
                        {{ form.car_body(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.car_body.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.car_body(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Вид топлива -->
                <div class="col-lg-4">
                    {{ form.car_fuel.label(class="form-control-label") }}
                    {% if form.car_fuel.errors %}
                        {{ form.car_fuel(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.car_fuel.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.car_fuel(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Объем двигателя Л -->
                <div class="col-lg-4">
                    {{ form.car_engine.label(class="form-control-label") }}
                    {% if form.car_engine.errors %}
                        {{ form.car_engine(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.car_engine.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.car_engine(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col lg-4">
                  <div class="py-1 container">
                  Привод:
                  </div>
                  <!-- Привод -->
                <div class="form-check form-check-inline">
                    {% if form.car_drive.errors %}
                        {{ form.car_drive(class="form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.car_drive.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.car_drive(class="form-check-input") }}
                    {% endif %}
                </div>
                <br>
              </div>
              <!-- Трансмиссия -->
              <div class="col lg-4">
                <div class="py-1 container">
                Трансмиссия:
                </div>
              <div class="form-check form-check-inline">
                  {% if form.car_transmission.errors %}
                      {{ form.car_transmission(class="form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.car_transmission.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.car_transmission(class="form-check-input") }}
                  {% endif %}
              </div>
              <br>
            </div>
            <!-- Вид страхования -->
            <div class="col lg-4">
              <div class="py-1 container">
              Вид страхованиия:
              </div>
            <div class="form-check form-check-inline">
                {% if form.car_insuerance.errors %}
                    {{ form.car_insuerance(class="form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.car_insuerance.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.car_insuerance(class="form-check-input") }}
                {% endif %}
            </div>
            <br>
          </div>
              </div>
              <!-- Дополнительное описание -->
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <h6 class="text-danger"><strong>Символов не может быть больше чем 250.</strong></h6>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <h4 align="center">Цены и условия:</h4>
                <div class="row">
                  <!-- Цена за сутки -->
                  <div class="col-lg-6">
                      {{ form.price.label(class="form-control-label") }}
                      {% if form.price.errors %}
                          {{ form.price(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.price.errors %}
                                  <h6 class="text-danger"><strong>Длина должна быть от 1 до 6 знаков.</strong></h6>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.price(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>
                  <!-- Цена за неделю УДАЛЕНА -->
              </div>
              <br>
              <!-- Добавление основного фото -->
              <div class="row">
              </div>
              <br>
            </fieldset>
            <!-- Кнопка Разместить -->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="col overflow-auto public_offer">
      <div class="container-fluid">
        <center>
            <legend class="border-bottom mb-4 bg-warning"><strong>Редактирование изображений</strong></legend>
        </center>

        <!-- Ряд с фотографиями -->
        <div class="row">
          <div class="col">
            <center>Главное фото</center>
            <img class="d-block w-100" src="{{ url_for('static', filename='profile pictures/' + post.profilepicture) }}" alt="Главное фото" title="Глваное фото">
            <form id="" method="POST" enctype="multipart/form-data">
              {{ form.hidden_tag() }}
              <div class="col">
                {{photoform.photo_1.label(class="form-control-label")}}
                {% if photoform.photo_1.errors %}
                  {{photoform.photo_1(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                      {% for error in photoform.photo_1.errors %}
                        <h6 class="text-danger"><strong>Не выбран файл или не подходит формат</strong></h6>
                      {% endfor %}
                    </div>
                {% else %}
                  {{ photoform.photo_1 (class="form-control-file")}}
                <small id="cont_files" class="form-text text-muted">Фото должно быть в формате:<br> 'jpg', 'jpeg', 'png', 'pdf', 'webp'.</small>
                {% endif %}
                <!-- Кнопка Разместить -->
                <div class="form-group mt-3">
                    {{ photoform.submit(class="btn btn-outline-success") }}
                </div>
              </div>
            </form>
          </div>
          <div class="col">
            <center>Второе фото</center>
            <img class="d-block w-100" src="{{ url_for('static', filename='profile picture2/' + post.profilepicture) }}" alt="Второе фото" title="Второе фото">
            <form id="" method="POST" enctype="multipart/form-data">
              {{ form.hidden_tag() }}
              <div class="col">
                {{secondphotoform.photo_2.label(class="form-control-label")}}
                {% if secondphotoform.photo_2.errors %}
                  {{secondphotoform.photo_2(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                      {% for error in secondphotoform.photo_2.errors %}
                        <h6 class="text-danger"><strong>Не выбран файл или не подходит формат</strong></h6>
                      {% endfor %}
                    </div>
                {% else %}
                  {{ secondphotoform.photo_2 (class="form-control-file")}}
                <small id="cont_files" class="form-text text-muted">Фото должно быть в формате:<br> 'jpg', 'jpeg', 'png', 'pdf', 'webp'.</small>
                {% endif %}
                <div class="form-group mt-3">
                    {{ secondphotoform.submit(class="btn btn-outline-success") }}
                </div>
              </div>
            </form>
          </div>
          <div class="col">
            <center>Третье фото</center>
            <img class="d-block w-100" src="{{ url_for('static', filename='profile picture3/' + post.profilepicture) }}" alt="Третье фото" title="Третье фото">
            <form id="" method="POST" enctype="multipart/form-data">
              {{ form.hidden_tag() }}
              <div class="col">
                {{thirdphotoform.photo_3.label(class="form-control-label")}}
                {% if thirdphotoform.photo_3.errors %}
                  {{thirdphotoform.photo_3(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                      {% for error in thirdphotoform.photo_3.errors %}
                        <h6 class="text-danger"><strong>Не выбран файл или не подходит формат</strong></h6>
                      {% endfor %}
                    </div>
                {% else %}
                  {{ thirdphotoform.photo_3 (class="form-control-file")}}
                <small id="cont_files" class="form-text text-muted">Фото должно быть в формате:<br> 'jpg', 'jpeg', 'png', 'pdf', 'webp'.</small>
                {% endif %}
                <div class="form-group mt-3">
                    {{ photoform.submit(class="btn btn-outline-success") }}
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row mt-3">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}
