<!DOCTYPE html>
<html lang="ru-RU">
<head>
  <title>404</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='minecss/godstyle.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='minecss/justinaguilar.css') }}">
</head>
<body>

<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand"><b>RentAvtoBy</b></a>
      </div>
      <div class="nav-item">
        <button class="btn btn-outline-warning" type="button"><a href="{{ url_for ('main.godout') }}" id='logout'>Выйти из системы</a></button>
      </div>
    </div>
  </nav>
</header>
<main>
  <!-- Панель информации -->
  <div class="container-fluid" style="height: 40px; border-bottom: solid lightgrey 1px; text-align:center;">
    {% with messages = get_flashed_messages (with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class = "alert alert-warning alert-dismissible fade show" role="alert-{{ category }}" style="text-align: center; height: 35px;">
            {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

<div class="row ml-1">
    <!-- Форма добавления нового пользователя -->
  <div class="col-xs-12 col-sm-6 col-md-2" style="border-right: solid lightgrey 1px">
  <form method="POST" action="" class="text-center">
    {{ form.hidden_tag() }}
    <fieldset class = "form-group">
      <legend class ="border-bottom mb-4" style="text-align: center;">Добавить агента</legend>
      <!--Задать имя для нового партнера:-->
      <div class="form-group">
        {{form.username.label(class="form-control-label")}}
        {% if form.username.errors %}
          {{form.username(class="form-control form-control-lg is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.username(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <!--Задать пароль для нового партнера:-->
      <div class="form-group">
        {{ form.password.label(class="form-control-label") }}
        {% if form.password.errors %}
          {{ form.password(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{form.password(class="form-control form-control-lg")}}
        {% endif %}
      </div>
      <!--Задать email для нового партнера:-->
      <div class="form-group">
        {{ form.email.label(class="form-control-label") }}
        {% if form.email.errors %}
          {{ form.email(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{form.email(class="form-control form-control-lg")}}
        {% endif %}
      </div>
      <!--Задать имя для нового партнера:-->
      <div class="form-group">
        {{form.name.label(class="form-control-label")}}
        {% if form.name.errors %}
          {{form.name(class="form-control form-control-lg is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.name(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <!--Задать фамилию для нового партнера:-->
      <div class="form-group">
        {{form.surname.label(class="form-control-label")}}
        {% if form.surname.errors %}
          {{form.surname(class="form-control form-control-lg is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.surname.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.surname(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <!--Задать телефон для нового партнера:-->
      <div class="form-group">
        {{form.phone.label(class="form-control-label")}}
        {% if form.phone.errors %}
          {{form.phone(class="form-control form-control-lg is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.phone.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.phone(class="form-control form-control-lg") }}
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{form.submit(class="btn btn-success btn-lg")}}
      <input class="btn btn-primary" type="reset" value="Очистить">
    </div>
  </form>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    The variable is: {{ blo }}
  </div>
  <div class="col-xs-12 col-sm-6 col-md-2 alert alert-success" style="border-left: solid lightgrey 1px">
    <h4 class="text-center">Последние логины:</h4>
    <ul id="auth_ul class="text-justify loginfo">
      <pre id="auth_ul">
      {% if x%}
       <h5><li>{{x}}</li></h5>
      {% endif %}
      </pre>
    </ul>
  </div>

</div>



</main>
<footer>
</footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
