<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?
family=Montserrat:400,900&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
  <!-- Bootstrap Стили -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--Мои стили-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='minecss/indexstyle.css') }}">
  <!--Стили с сайта http://www.justinaguilar.com-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='minecss/justinaguilar.css') }}">
{% if title %}
 <title>{{ title }}</title>
{% else %}
 <title>Главная страница</title>
{% endif %}
<!-- Календарь -->
</head>
<body>
<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <a class="navbar-brand mr-5" href="/">RentAvtoBy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{{ url_for('main.useit')}}">Как пользоваться сайтом?</a>
          <a class="nav-item nav-link" href="{{ url_for('main.about')}}">О компании</a>
          <a class="nav-item nav-link" href="{{ url_for('main.partner')}}">Как стать партнером?</a>
        </div>
        <!-- Правая сторона навигации -->
        {% if current_user.is_authenticated %}
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{{ url_for('users.adminlogged')}}">Аккаунт</a>
          <a class="nav-item nav-link btn-outline-danger" href="{{ url_for('users.logout')}}">Выйти из системы</a>
        </div>
        {% endif %}
    </div>
  </nav>
</header>
  <main role="main" class="container">
      <br>
      <!-- На этом месте в файлe indexlayout.html находится кнопка подбора даты -->
    <div class="container-fluid mx-0 my-0 px-0 py-0">
    <div class="row justify-content-center px-sm-0">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4 mb-2 mx-sm-0">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <div class="card">
              <form id="calendar">
                <p class="calenaralign">Дата начала аренды:
                  <input type="date" name="calendar" value={{ currentdate }}
                  max="2021-01-01" class="fromdate" min={{ currentdate }}>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mb-2">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
          <div class="card">
              <p class="calenaralign">Дата окончания аренды:
                <input type="date" name="calendar" value={{ currentdate }}
                max="2021-01-01" min={{ currentdate }} class="fromdate">
              </form>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-2 align-self-center">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
          <button type="submit" class="btn btn-success btn-lg" form="calendar">Найти доступные автомобили</button>
        </div>
      </div>
    </div>
  </div>
      <div class="row">
        <div class="container-fluid">
          {% block content %}
          <!-- Здесь отображаются все посты -->
          {% endblock %}
        </div>
      </div>
    </main>
    <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>$(function () {$('[data-toggle="popover"]').popover()})</script>
        <script type="text/javascript">$(function () {$('#datetimepicker12').datetimepicker({inline: true, sideBySide: true});});
        </script>

</body>
</html>
