{% extends "indexlayout.html" %}
{% block content %}
{% for post in posts.items %}
<!-- Пост -->
<div class="row">
<article class="media content-section shadow-lg">
    <a href="{{ url_for('posts.post', post_id=post.id) }}"><img title="Подробное описание" alt="Здесь должно быть изображение авто" class="align-self-center mr-4 indeximg nohoverimg rounded" src="{{ url_for('static', filename='profile pictures/'+post.profilepicture ) }}"></a>
  <div class="media-body">
     <div class="article-metadata">
       {% if post.author == current_user %}
        <a class="mr-2" href="{{url_for('users.user_posts', username=post.author.username)}}">{{post.author.username }}</a>
        {% else %}
          <a class="mr-2" href="" title="Имя автора">{{post.author.username }}</a>
       {% endif %}
      <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
     </div>
    <h1><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.car_brand }} {{ post.car_model }}</a></h1>
    <p class="col-sm-6 article-content">
      <div class="row pl-4">
        <h4>
        <span class="btn btn-warning mb-2">
          {{ post.car_fuel }}
        </span>
        <span class="btn btn-success mb-2">
          {{ post.car_transmission }}
        </span>
        <span class="btn btn-warning mb-2">
          {{ post.car_engine }} Л.
        </span>
        <span class="btn btn-warning mb-2">
          {{ post.car_insuerance }}
        </span>
        </h4>
      </div>
    </p>
    <div class="alert alert-success">
      <article style="text-align:center;">Стоимость за сутки: {{ post.price }} РУб.</article>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a title="Забронировать этот автомобиль" href="{{ url_for('posts.post', post_id=post.id) }}"><button type="button" class="btn btn-primary mx-3 mb-3 mt-0">Перейти к бронированию</button></a>
      </div>
    </div>
  </div>
</article>
</div>
{% endfor %}
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
   {% if posts.page == page_num %}
    <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
   {% else %}
    <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
   {% endif %}
  {% else %}
   ...
  {% endif %}
{% endfor %}
{% endblock content %}
