{% extends "base.html" %}

{% block content %}
<div class="container col-12">
  <div class="row justify-content-center mb-5 mark">
    <h1>На данном этапе, пользование сервисом совершенно бесплатно.</h1>
  </div>
  <div class="row justify-content-center mb-5">
    Подайте заявку на регистрацию через форму ниже &#9658;
    Дождитесь пока с вами свяжутся &#9658;
Создайте описания ваших автомобилей &#9658;
Укажите допустимые даты бронирования &#9658;
Ваши автомобили мгновенно появятся на сайте &#9658;
Получайте готовые заказы на свободные автомобили.
  </div>
  <div class='row'>
    <div class='col-sm-12 col-md-3'>
      <p>Сервис предоставляет полный набор автоматизированных
      инструментов для управления прокатным парком через
      удобную систему управления вашим аккаунтом:
      <ul class="list-group mb-5">
        <li>Полный учет всех заказов</li>
        <li>Подробная статистика</li>
        <li>Автоматически пополняемая клиентская база</li>
        <li>Ежедневное расписание выдачи и возврата автомобилей</li>
        <li>Автоматическое формирование договора аренды</li>
        <li><strong>Пока-что бесплатное использование сервиса</strong></li>
        </ul>
      <div class="alert alert-danger" role="alert">Использование RentAvtoBel на данном этапе бесплатно.
      </div>
      </p>
      <div class="alert alert-primary" role="alert">
        Для того, чтобы начать пользоваться сервисом, заполните форму для регистрации, и я свяжусь с вами в ближайшие пару дней.
      </div>
      <p>
        <ul class="list-group mt-5 text-center">
          <lh class="mb-3"><strong>Требования к автомобилю:</strong></lh>
          <li id="nostyle">Возраст до 20 лет</li>
          <li id="nostyle">Пройденный техосмотр</li>
          <li id="nostyle">Наличие страховки и документов</li>
          <li id="nostyle">Исправное состояние всех узлов</li>
          <li id="nostyle">Отсутствие явной коррозии</li>
          <li id="nostyle">Наличие аптечки, запасного колеса</li>
          <li id="nostyle">Чистый салон</li>
          <li id="nostyle">Чистый кузов</li>
        </ul>
      </p>
    </div>

<br>
<form id="guestform" method="POST" action="" enctype="multipart/form-data" class='col-sm-12 col-md-8 m1-auto mb-1rem'>
  {{ form.hidden_tag() }}
  <!-- Ввод имени -->
  <div class="form-group">
    {{form.cont_name.label(class="form-control-label")}}
    {% if form.cont_name.errors %}
      {{form.cont_name(class="form-control is-invalid")}}
        <div class="invalid-feedback">
         {% for error in form.cont_name.errors %}
          <h6 class="text-danger"><strong>Длина должна быть от 2 до 20 знаков.</strong></h6>
         {% endfor %}
        </div>
    {% else %}
      {{ form.cont_name(class="form-control") }}
      <h6 class="form-text text-muted">Имя должно совпадать с тем, что в паспорте.</h6>
    {% endif %}
  </div>
  <!-- Ввод фамилии -->
  <div class="form-group">
    {{form.cont_surname.label(class="form-control-label")}}
    {% if form.cont_surname.errors %}
      {{form.cont_surname(class="form-control is-invalid")}}
        <div class="invalid-feedback">
         {% for error in form.cont_surname.errors %}
          <h6 class="text-danger"><strong>Длина должна быть от 2 до 20 знаков.</strong></h6>
         {% endfor %}
        </div>
    {% else %}
      {{ form.cont_surname(class="form-control") }}
      <h6 class="form-text text-muted">Фамилия должно совпадать с той, что в паспорте.</h6>
    {% endif %}
  </div>
  <!-- Ввод номера телефона -->
  <div class="form-group">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">+375</div>
        </div>
        {% if form.cont_phone.errors %}
          {{form.cont_phone(class="form-control is-invalid")}}
            <div class="invalid-feedback">
             {% for error in form.cont_phone.errors %}
              <h6 class="text-danger"><strong>Длина должна быть 9 знаков.</strong></h6>
             {% endfor %}
            </div>
        {% else %}
          {{ form.cont_phone(class="form-control") }}
        {% endif %}
      </div>
  </div>
  <!-- Ввот E-Mail -->
  <div class="form-group">
    {{form.cont_email.label(class="form-control-label")}}
    {% if form.cont_email.errors %}
      {{form.cont_email(class="form-control is-invalid")}}
        <div class="invalid-feedback">
         {% for error in form.cont_email.errors %}
          <h6 class="text-danger"><strong>Введите правильный E-Mail</strong></h6>
         {% endfor %}
        </div>
    {% else %}
      {{ form.cont_email(class="form-control") }}
      <h6 class="form-text text-muted">Email Должен быть доступен вам.</h6>
    {% endif %}
  </div>
  <!-- Ввод дополнительной информации -->
  <div class="form-group">
    {{form.cont_datas.label(class="form-control-label")}}
     {{ form.cont_datas (class="form-control form-control-lg")}}
    <small id="cont_name" class="form-text text-muted">Дополнительная информация, при необходимости.</small>
  </div>
  <div class="form-row align-items-center">
    <div class="col-auto">
      {{form.cont_picture32.label(class="form-control-label")}}
      {% if form.cont_picture32.errors %}
        {{form.cont_picture32(class="form-control is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.cont_picture32.errors %}
              <h6 class="text-danger"><strong>Не выбран файл или не подходит формат</strong></h6>
            {% endfor %}
          </div>
      {% else %}
        {{ form.cont_picture32 (class="form-control-file")}}
      <small id="cont_files" class="form-text text-muted">Фото должно быть читабельно, в формате<br> 'jpg', 'jpeg', 'png', 'pdf', 'webp'.</small>
      {% endif %}
    </div>
    <div class="col-auto">
      {{form.cont_picture31.label(class="form-control-label")}}
        {% if form.cont_picture31.errors %}
          {{form.cont_picture31(class="form-control is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.cont_picture31.errors %}
              <h6 class="text-danger"><strong>Не выбран файл или не подходит формат</strong></h6>
            {% endfor %}
          </div>
        {% else %}
          {{ form.cont_picture31 (class="form-control-file")}}
          <small id="cont_files" class="form-text text-muted">ото должно быть читабельно, в формате<br> 'jpg', 'jpeg', 'png', 'pdf', 'webp'.</small>
        {% endif %}
    </div>
    <div class="col-auto">
      {{form.cont_picture_residence.label(class="form-control-label")}}
      {% if form.cont_picture_residence.errors %}
        {{form.cont_picture_residence(class="form-control is-invalid")}}
        <div class="invalid-feedback">
          {% for error in form.cont_picture_residence.errors %}
            <h6 class="text-danger"><strong>Не выбран файл или не подходит формат</strong></h6>
          {% endfor %}
        </div>
      {% else %}
        {{ form.cont_picture_residence (class="form-control-file")}}
        <small id="cont_files" class="form-text text-muted">ото должно быть читабельно, в формате<br> 'jpg', 'jpeg', 'png', 'pdf', 'webp'.</small>
      {% endif %}
    </div>
  </div>
  <br>
  <a class="button12 shadow" tabindex="0" onclick=guestform.submit()>Отправить на рассмотрение</a>
  </a>
</form>
</div>
<div class="container-fluid col-12" style="text-align:center;">
  <br>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class = "alert alert-success alert-dismissible fade show slideExpandUp" role="alert-{{ category }}" style="text-align: center;">
          {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  </div>
</div>
{% endblock content %}
