{% extends "indexlayoutforpost.html" %}
{% block content %}
{% with messages = get_flashed_messages (with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-danger  fade-show" style="text-align: center; height: 35px;">
  <strong>{{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&#10004;</span>
  </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!-- Пост -->
<div class="row">
  <div class="col-8">
    <h1 class="article-title"><strong>{{ post.car_brand }} {{ post.car_model }}</strong></h1>
  </div>
  <div class="col-4">
    <div class="row alert alert-success">
      <div class="col-6">
        День
        <strong>
          <h2>{{ post.price }} руб.</h2>
        </strong>
      </div>
      <div class="col-6">
        Неделя
        <strong>
          <h2>{{ sevendaysprice }} руб. </h2>
        </strong>
      </div>

    </div>
  </div>
</div>
<article class="media content-section mt-1">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-8">
        <div class="media-body">
          <div class="article-metadata">
            <small class="text-muted">На сайте с: {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
          </div>
          <div class="d-flex">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="{{ url_for('static', filename='profile pictures/' + post.profilepicture) }}" alt="Первый слайд">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{{ url_for('static', filename='profile picture2/' + post.profilepicture2) }}" alt="Второй слайд">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{{ url_for('static', filename='profile picture3/' + post.profilepicture3) }}" alt="Третий слайд">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 border-left border-success">

        <div class="form-group border-0">
          <form target="_self" method="post">
            {{ form.hidden_tag() }}
            <center>Начало аренды</center>
            {{form.datefrom (class="fromdate rounded-pill", value=currentdateset, min=currentdateset, max=maxavailabledate)}}
            <center>Окончание аренды</center>
            {{form.dateto (class="tofromdate rounded-pill", value=mindateto, min=mindateto, max=maxavailabledate)}}
            <center>Время выдачи автомобиля<br> (Получение автомобиля раньше 09:00 указывается <strong>после</strong> совершения брони)</center>
            <center>{{ form.exacttime (class="mb-4 mt-2 exacttime ", value="09:00", min="09:00") }}</center>
            <fieldset disabled>
              <center>
                Время возврата в последний день аренды (<strong>неизменно</strong>) до:
                {{ form.returntime (class="mb-4", value="08:30")}}
              </center>
            </fieldset>
            <center>Ваше имя</center>
            <div class="form-group">
              <div class="input-group mb-2">
                {% if form.client_name.errors %}
                {{form.client_name(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                  {% for error in form.client_name.errors %}
                  <h6 class="text-danger"><strong>Проверьте правильность данных</strong></h6>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.client_name(class="form-control") }}
                {% endif %}
              </div>
            </div>
            <center>Дата рождения?</center>
            <div class="form-group">
              <div class="input-group mb-2">
                {% if form.client_birth.errors %}
                {{form.client_birth(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                  {% for error in form.client_birth.errors %}
                  <h6 class="text-danger"><strong>Проверьте правильность даты</strong></h6>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.client_birth(class="form-control") }}
                {% endif %}
              </div>
            </div>
            <center>Какой ваш Email? </center>
            <div class="form-group">
              <div class="input-group mb-2">
                {% if form.client_email.errors %}
                {{form.client_email(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                  {% for error in form.client_email.errors %}
                  <h6 class="text-danger"><strong>Введите правильный E-Mail</strong></h6>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.client_email(class="form-control") }}
                {% endif %}
              </div>
            </div>
            <center>Какой ваш телефон?</center>
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">+375</div>
                </div>
                {% if form.client_phone.errors %}
                {{form.client_phone(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                  {% for error in form.client_phone.errors %}
                  <h6 class="text-danger"><strong>Длина должна быть от 9 знаков.</strong></h6>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.client_phone(class="form-control") }}
                {% endif %}
              </div>
            </div>
            <center>
              <button type="submit" class="btn btn-success button12">Забронировать на выбранные даты</button>
            </center>
          </form>
        </div>

      </div>



    </div>
    <div class="row mt-4 ml-3">
      <h2 class=""><strong>Характеристики</strong></h2>
    </div>
    <div class="row ml-4">
      <div class="col-6">
        <h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Коробка передач</li>
            <li class="list-group-item">Двигатель</li>
            <li class="list-group-item">Топливо</li>
            <li class="list-group-item">Год выпуска</li>
          </ul>
        </h4>
      </div>
      <div class="col-6">
        <h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item flushborders">{{ post.car_transmission }}</li>
            <li class="list-group-item flushborders">{{ post.car_engine }}&ensp;Л</li>
            <li class="list-group-item flushborders">{{ post.car_fuel }}</li>
            <li class="list-group-item flushborders">{{ post.car_creation }}</li>
          </ul>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <button class="btn btn-success w-75" type="button" data-toggle="collapse" data-target="#characteristics" aria-expanded="false" aria-controls="collapseExample">Все характеристики</button>
      <div class="col">
      </div>
      <div class="collapse" id="characteristics">
        <div class="card card-body">
          <div class="row">
            <div class="col-6">
              <h4>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Вид страхования</li>
                  <li class="list-group-item">Цвет кузова</li>
                  <li class="list-group-item">Привод</li>
                </ul>
              </h4>
            </div>
            <div class="col-6">
              <h4>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item flushborders">{{ post.car_insuerance }}</li>
                  <li class="list-group-item flushborders">{{ post.car_color }}</li>
                  <li class="list-group-item flushborders">{{ post.car_drive }}</li>
                </ul>
              </h4>
            </div>
            <div class="ml-4 backgrnd">
              {{ post.content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Подтвердите действие</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Удалить">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
