<!DOCTYPE html>
<html lang = 'ru'>
 <head>
   <meta http-equiv="content-type" content="text/html"; charset="utf-8">
   <title>Защищенный логин</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?
   family=Montserrat:400,900&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="{{ url_for('static', filename='minecss/loginstyle.css') }}">
 </head>
 <body>
   <main class="container">
     <div class="col-md-2">
     <div class="content-section">
     <form class='leftside' method="POST" action="">
       {{ form.hidden_tag() }}
       <fieldset class = "form-group">
         <legend class ="border-bottom mb-4">Восстановить пароль</legend>
         <!--Задать имя для нового партнера:-->
         <div class="form-group">
           {{form.email.label(class="form-control-label")}}
           {% if form.email.errors %}
             {{form.email(class="form-control form-control-lg is-invalid")}}
             <div class="invalid-feedback">
               {% for error in form.email.errors %}
               <span>{{ error }}</span>
               {% endfor %}
             </div>
           {% else %}
             {{ form.email(class="form-control form-control-lg") }}
           {% endif %}
         </div>
       </fieldset>
       <div class="form-group">
         {{form.submit(class="btn btn-outline-info")}}
       </div>
     </form>
     </div>
   </div>
   </main>
  <footer>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class = "alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
