{% extends "baseadmin.html" %}
{% block content %}
<div class="row">
  <div class=col-md-1>
  </div>
  <div class="col-md-7">
    <h3 class="pb-2 pt-0">Объявления от {{ user.username }}&#8195;&#8658;Количество активных: <strong>{{ posts.total }}</strong>.&#9786;ID пользователя: {{user.id}}.</h3>
  </div>
</div>


{% for post in posts.items %}
<div class="row">
  <div class="container-fluid col-md-1">
  </div>
  <div class="container-fluid col-md-7">
    <!-- Пост -->
    <article class="media content-section shadow-lg">
      <img class="align-self-center mr-4 indeximg nohoverimg rounded" title="Основное фото" alt="Здесь должно быть основное изображение авто" class="rounded-circle article-img"
        src="{{ url_for('static', filename='profile pictures/' + post.profilepicture) }}">
      <div class="media-body">
        <div class="article-metadata">

          Размещено &#8658; <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
          <strong>ID: {{ post.id}}</strong>
          <!-- Описание Popover Component -->
          <button type="button" class="btn btn-sm ml-2 btn-primary" data-toggle="popover" title="Описание" data-content="{{ post.content }}" data-placement="bottom">Описание</button>



          <a class="btn btn-danger btn-md float-right ml-2" href="{{ url_for('posts.delete_post', post_id=post.id) }}" role="button">Удалить</a>




          <a class="btn btn-warning btn-md float-right" href="{{ url_for('posts.update_post', post_id=post.id) }}" role="button">Редактирование</a>

          <a class="btn btn-success btn-md float-right mr-2" href="{{ url_for('users.calendarinfo', post_id=post.id)}}" role="button">Календарь бронирования</a>
        </div>
        <hr>
        <table class="table table-hover table-sm border-bottom">
          <tbody>
            <tr class="table-success">
              <td>{{ post.car_brand }}</td>
              <td>{{post.car_model}}</td>
              <td><strong>{{ post.car_plate }}</strong></td>
            </tr>
            <tr>
              <td></td>
              <td>Цена за день BYN:</td>
              <td class="bg-info">{{ post.price }}</td>
            </tr>
          </tbody>
        </table>
        <p class="article-content py-0 my-1">Цвет: {{ post.car_color }} &#9681; Кузов: {{ post.car_body }}</p>
        <p class="article-content py-0 my-1">{{ post.car_fuel }} &#9681; {{post.car_engine}} Л.</p>
        <p class="article-content py-0 my-1">Год выпуска: {{ post.car_creation }}</p>
        <p class="article-content py-0 my-1">Коробка: {{ post.car_transmission }}, Привод: {{ post.car_drive }}</p>
        <p class="article-content py-0 my-1 mark">Застрахован: {{ post.car_insuerance }} </p>
      </div>
    </article>
  </div>
  <!-- Правая панель -->
  <div class="conainer-fluid col-4">
    <div class="col-6">
      <!-- <article class="media content-section shadow-lg">

      </article> -->
    </div>
    <div class="col-6">
    </div>
  </div>
</div>
{% endfor %}

{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if posts.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}


{% endblock content %}
